[Unit]
Description=MetarMap
After=network-online.target

[Service]
WorkingDirectory=/home/pi/metarmap2
ExecStart=sudo /home/pi/metarmap2/controller.py
Restart=always
User=pi

[Install]
WantedBy=multi-user.target