[Unit]
Description=MetarMap
After=network.target

[Service]
WorkingDirectory=/home/pi/metarmap2
ExecStart=/home/pi/metarmap2/controller.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target